@model rpgsite3.Models.CharacterModel
@{
    Layout = null;
}


@if (Model != null && Model.character != null)
{
    <div class="gameh1">Inventory - @Model.character.naam</div>
    @:<div id="inventorywrapper">
        //Door Alle items heen loopen
    foreach (var item in Model.character.inventory)
    {
        if (item.equipped == false)
        {
            @:<div class="square gameinventoryitem">
                <div class="context-menu hidden">
                    <ul>
                        @if (item.actions != null)
                        {
                            @foreach (var action in item.actions)
                            {
                                <li class="@action-btn">
                                @Html.ActionLink(item.equipped && action == "Equip" ? "Unequip" : action, action, "Character", new { item.id, item.name, item.description, item.img_loc, item.strength, item.intelligence, item.Rarity, item.level, item.category, item.actions, item.defense, item.equipped ,characterID = Model.character.id} , new
                                {
                                   data_ajax = "true",
                                   data_ajax_method = "POST",
                                   data_ajax_success = "on" + action + "Success"
                                })
                                </li>
                            }
                        }
                    </ul>
                </div>
                <img src="~/images/items/@item.img_loc" class="itemImage" />
                <a href="#" class="iteminfo" data-toggle="popover" data-placement="left" data-popover-content=".inventoryhover"></a>
                <div class="hoverinfo inventoryhover hidden">
                    <div class="popover-heading">
                        <img class="itemimg" src="~/images/items/@item.img_loc" />
                    </div>

                    <div class="popover-body">
                        <div class="itemName">@item.name</div>
                        <div class="stat">Level : @item.level</div>
                        <div class="stat">Strength : @item.strength</div>
                        <div class="stat">Intelligence : @item.intelligence</div>
                        <div class="itemdescription">@item.description</div>
                    </div>
                </div>
            @:</div>
        }
    }
    @:</div>
}