@model rpgsite3.Models.CharacterModel


<div class="user-background">
    <div class="searchbar">
        <form asp-controller="Character" asp-action="Index">
            <div class="input-group">
            <input type="text" class="form-control" placeholder="Zoek naar character" name="characterSearch">
            <span class="input-group-btn">
                <button class="btn btn-search" type="submit"><i class="fa fa-search fa-fw"></i>Search</button>
            </span>
            </div>
        </form>
</div>
    @if (Model != null && Model.character != null)
    {
    <div class="character">
        <!-- TODO : popup toevoegen als er op gehovert wordt. -->
        <div class="left-items">
            @foreach (var item in Model.character.inventory.Take(5))
            {
                @:<div class="square">
                    <img src="~/images/items/@item.img_loc" class="itemImage" />
                    <a href="#" class="iteminfo" data-toggle="popover" data-placement="left" data-popover-content=".hoverinfo"></a>
                    <div class="hoverinfo hidden">
                        <div class="popover-heading">
                            <img class="itemimg" src="~/images/items/@item.img_loc" />
                        </div>

                        <div class="popover-body">
                            <div class="itemName">@item.name</div>
                            <div class="stat">Level : @item.level</div>
                            <div class="stat">Strength : @item.strength</div>
                            <div class="stat">Intelligence : @item.intelligence</div>
                            <div>@item.description</div>
                        </div>
                    </div>
                @:</div>
            }
        </div>
        <div class="character-img">
            <img src="~/images/characters/characters_1.png" class="myCharacter" />
            <h1 class="character_name"> @Model.character.naam </h1>
        </div>
        <div class="right-items">
            @foreach (var item in Model.character.inventory.TakeLast(5))
            {
                @:<div class="square">
                    <img src="~/images/items/@item.img_loc" class="itemImage" />
                    <a href="#" class="iteminfo" data-toggle="popover" data-placement="right" data-popover-content=".hoverinfo"></a>
                    <div class="hoverinfo hidden">
                        <div class="popover-heading">
                            <img class="itemimg" src="~/images/items/@item.img_loc" />
                        </div>

                        <div class="popover-body">
                            <div class="itemName">@item.name</div>
                            <div class="stat">Level : @item.level</div>
                            <div class="stat">Strength : @item.strength</div>
                            <div class="stat">Intelligence : @item.intelligence</div>
                            <div>@item.description</div>
                        </div>
                    </div>
                @:</div>
            }
        </div>
    </div>
    } else if (Model != null && Model.foundCharacters != null && Model.foundCharacters.Count > 0) {
        @:<div class="characterwrapper">

        @foreach (var item in Model.foundCharacters)
        {
             @:<div class="card characterinfo">
                    <img class="card-img-top" src="~/images/characters/characters_1.png" alt="plaatje">
                    <div class="card-body">
                        <h5 class="card-title">@item.naam</h5>
                        <div class="card-text">
                            <div class="characterstats">
                                <div>Strength : @item.strength</div>
                                <div>Intelligence : @item.intelligence</div>
                            </div>
                        </div>
                        <a class="characterlink" asp-controller="Character" asp-action="Index" asp-route-characterSearch="@item.naam"></a>
                    </div>
            @:</div>
        }
        @:</div>
    }
    else
    {
        //Search query uitgevoerd, geen personage gevonden. of scherm als niemand ingelogd is.
        <div class="emptycharacter">DEZE CHARACTER BESTAAT NIET</div>
    }
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover({
                html: true,
                content: function () {
                    return $(this).next(".hoverinfo").children(".popover-body").html();
                },
                title: function () {
                    return $(this).next(".hoverinfo").children(".popover-heading").html();
                },
                trigger: "hover click"
            });


            $('[data-toggle="popover"]').on('click', function (e) {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });

            $('[data-toggle="popover"]').on('hover', function (e) {
                $('[data-toggle="popover"]').not(this).popover('hide');
            });
        });
    </script>
}
